<!DOCTYPE html>
<html>
    <head>
        Attendance of {{ dates }} is shown below
    </head>
    <body>
        <table> 
            <thead> 
            <tr> 
                <th>Name</th> 
                <th>Time</th> 
            </tr> 
            </thead> 
            <tbody> 
                {% for row in value %}  
                    <tr> 
                        <td>{{row[0]}}</td> 
                        <td>{{row[1]}}</td> 
                    </tr> 
                {% endfor %} 
            </tbody> 
        </table>
        <form action="\mailsent" method=POST>
            <input type="email" id="email" name="email" value="example@gmail.com">

        </form>
    </body>
</html> 